@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Genel Stil */
.menu-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: ghostwhite;
}

.menu-container {
    width: 800px;
    border: 2px solid #ca925d;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(white, #e9e5df 90%, white);
    padding: 20px;
}

.menu-header {
    text-align: center;
    font-family: "Dancing Script";
    padding-bottom: 10px;
    animation: fadeIn 1s ease-out;
}

/* Madeni Para Gibi Dönen Logo Animasyonu */
@keyframes rotateCoin {
    0% {
        transform: rotateY(0deg);
        /* Başlangıçta logo düz */
    }

    50% {
        transform: rotateY(180deg);
        /* Yarım dönüş */
    }

    100% {
        transform: rotateY(360deg);
        /* Tam dönüş */
    }
}

.menu-logo {
    width: 15rem;
    height: 15rem;
    border-radius: 1000px;
    transition: transform 0.5s ease;
    /* Yumuşak geçiş için */
    transform-style: preserve-3d;
    /* 3D dönüş efekti için */
    transform-origin: center;
    /* Dönüş merkezi ortada */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    /* Logo etrafında hafif gölge */
    perspective: 1000px;
    /* Perspektif mesafesini ayarlama */
}

.menu-logo:hover {
    animation: rotateCoin 2s infinite linear;
    /* Madeni para gibi dönüş animasyonu */
}



.menu-title {
    font-family: "Dancing Script";
    color: #59443a;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.menu-title:hover {
    color: #ca925d;
    text-decoration: underline;
}

/* Kategoriler */
.section {
    margin-top: 20px;
    animation: fadeIn 1s ease-out;
}


.section-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Sol hizalama */
    font-family: "Dancing Script";
    font-size: 16px;
    color: #59443a;
    font-weight: 800;
    margin: 0 auto;
    gap:10px;
}

/* Section Image: Align image to the left with margin on the left */
.section-image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 20px; /* Soldan biraz boşluk */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 3px solid rgba(0, 0.1, 0.1, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

/* Section Title: Align it to the right and provide some spacing */
.section-title {
    font-family: "Dancing Script";
    font-size: 16px;
    color: #59443a;
    font-weight: 800;
    text-align: center; /* Sağ hizalama */

}


.options-list {
    margin-top: 5px;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.option-item:last-child {
    border-bottom: none;
}

.option-item:hover {
    background-color: #f9f4ea;
    border-left: 5px solid #ca925d;
}

.option-title {
    font-family: "Montserrat";
    font-style: italic;
    color: #ca925d;
    font-size: 12px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.option-title:hover {
    color: #59443a;
    font-size: 14px;
}

.option-price {
    color: #8d8984;
    font-size: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.option-price:hover {
    color: #ca925d;
    transform: scale(1.1);
}

.price-half {
    margin-right: 2rem;
}

.option-description {
    font-family: "Prompt";
    font-size: 10px;
    color: #8d8984;
    width: 90%;
}

/* Footer */
.menu-footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-text {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 40px;
    color: #59443a;
    margin-top: 40px;
    animation: floating 3s ease-in-out infinite;
}

.order-button {
    background-color: #faf8f6;
    font-size: 100px;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.order-button:hover {
    background-color: #ca925d;
    transform: scale(1.1);
}

/* Animasyonlar */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* Sayfa kaydırmayı yumuşatmak */
html {
    scroll-behavior: smooth;
}
@media (max-width: 480px) {
    .menu-container {
        width: 95%; 
        padding: 10px; 
        border-radius: 5px; 
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    }

    .menu-logo {
        width: 8rem; 
        height: 8rem;
    }

    .menu-title {
        font-size: 18px; 
    }

    .section {
        margin-top: 10px; 
    }

    .section-header {
        font-size: 14px; 
        margin-bottom: 8px;
    }

    .section-image {
        width: 2rem; 
        height: 2rem;
        margin-right: 5px;
    }

    .options-list {
        margin-top: 3px; 
    }

    .option-item {
        padding: 8px 0;
    }

    .option-title {
        font-size: 10px;
    }

    .option-price {
        font-size: 10px; 
    }

    .option-description {
        font-size: 9px;
    }

    .footer-text {
        font-size: 20px; 
        margin-top: 20px;
    }

    .order-button {
        font-size: 80px; 
        padding: 5px 15px;
        border-radius: 30px;
    }
}
@media print {
    /* Sayfa Boyutu */
    @page {
        size: A4; /* A4 boyutu */
        margin: 20mm; /* Kenar boşlukları */
    }

    /* Genel Ayarlar */
    body {
        font-family: "Prompt", sans-serif; /* Yazı tipi */
        font-size: 12px; /* Genel font boyutu */
        color: #000; /* Yazıcı dostu renkler */
        background: none; /* Arka plan rengini kaldır */
    }

    .menu-container {
        width: 100%; /* Tam genişlik */
        border: none; /* Yazıcı kenarlarını kaldır */
        box-shadow: none; /* Gölgeyi kaldır */
        padding: 10mm; /* Sayfa içeriği için uygun boşluk */
        background: none; /* Arka planları temizle */
    }

    .menu-logo {
        width: 90%; 
        height: 90%;
        margin: auto auto; /* Ortala */
        display: block; /* Görünürlük için */
    }

    .menu-title {
        font-size: 72px; /* Kategori başlık boyutu */
        text-align: center; /* Soldan hizalı */
        margin-top: 5mm; /* Bölüm sonu boşluk */
    }

    .section {
        page-break-inside: avoid; /* Sayfa arasında bölünmeyi engelle */
        margin-bottom: 10mm; 
    }

    .section-header {
        font-size: 16px; /* Bölüm başlık boyutu */
        margin-bottom: 5mm;
    }

    .options-list {
        margin-top: 8mm; /* Liste üstü boşluk */
    }

    .option-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2mm; /* Elemanlar arasi bosluk */
        border: none; 
        padding: 0;
    }

    .option-title {
        font-size: 12px; 
    }

    .option-price {
        font-size: 12px;
    }

    .option-description {
        font-size: 10px; 
    }

    /* Footer */
    .menu-footer {
        text-align: center;
        margin-top: 10mm;
    }

    .footer-text {
        font-size: 36px;
    }

    /* Görsellerin Gizlenmesi veya Optimize Edilmesi */
    img {
        max-width: 100%; /* Görsellerin aşırı büyümesini önler */
        height: auto; /* Oranını korur */
    }

    /* Sayfa Bölünmesi */
    .page-break {
        page-break-before: always; /* Yeni sayfa başlatır */
    }
}
